/* Google font url */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=DM+Serif+Text&family=Poppins:wght@300;400;500&display=swap');

/* Base */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

nav ul li :hover {
    background-color: #ffffff !important;
}

.nav-wrapper {
    background-color: #ffdfdb;
}

.nav-wrapper a i {
    color: black;
}

/* home page */
.callout {
    width: 100%;
    height: 90vh;
    background-color: #ffdfdb;
    position: relative;
}


#hero-heading {
    width: 80%;
    text-align: center;
    font-size: 16px;
}

#hero-heading>a:hover {
    background-color: #ffffff !important;
    color: #17268A;
    font-weight: bold;
}

.hero-center {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


h3 {
    margin: 0;
    font-family: 'Comfortaa', Calibri;
}

.btn {
    margin-right: 1rem;
    padding: 0 2rem 0 2rem;
    background-color: #17268A;
    margin-top: 1rem;
}

.login {
    margin-right: 0.7rem;
}

.hero-image {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

h4 {
    font-family: 'Comfortaa', Calibri;
}

.card {
    border: solid 2px #17268A;
    color: #000000;
}

/* arrow animation */
.arrow {
    cursor: pointer;
    animation: myAnim 2s ease-in-out 0s infinite normal forwards;
    margin-top: 2rem;
    color: grey;

}

@keyframes myAnim {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}

/* Footer */
footer {
    background-color: #ffdfdb;
    height: 50px;
    margin-top: auto;
}

.page-header {
    background-color: #ffdfdb;
    height: 30vh;
    text-align: center;
    padding: 25px;
    font-size: 16px;
}

/* code used from w3schools as referenced in README.md sources */
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.social-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 13px;
}

.social-icons li {
    list-style: none;
}

.social-icons li a i {
    margin: 0 auto;
    color: #212529;
}

.social-icons li a i:hover {
    color: #17268A;
}

/* Log in Page */
.login-panel {
    margin: 2rem;
}

.button-container>button {
    background-color: #17268A;
    color: #ffffff;
}


/* Sign-up Page */
.sign-up-header {
    padding-top: 2rem;
}

.sign_up_link,
.login_link {
    color: #17268A !important;
}

/* Profile */
.profile-header {
    background-color: #ffdfdb;
    height: 45vh;
    position: relative;
}

.profile-header > .card-panel {
    background-color: #ffffff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Events */
.card-content>p {
    font-size: 16px;
}

/* Add Event */
label {
    font-size: 1.5rem !important;
}

/* timepicker */
input.timepicker-input-hours.text-primary,
.timepicker-text-container input[type=text],
input[type=text].timepicker-input-minutes {
    color: var(--primary-color);
    font-size: 3rem !important;
    padding: 0;
    text-align: center;
}


.input-field input:focus:not([readonly]),
.input-field textarea:focus:not([readonly]) {
    padding-top: unset !important;
}

.input-field {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

label {
    font-size: 1.3rem !important;
}

/* medium screens */
@media only screen and (min-width: 600px) {
    .page-header>p {
        padding-right: 5rem;
        padding-left: 5rem;
    }

    #hero-heading {
        top: 30%;
    }

    #hero-heading>p {
        font-size: 18px;
    }
}

/* large screens */
@media only screen and (min-width: 992px) {
    #hero-heading {
        width: 60%;
    }

    #hero-heading>p {
        font-size: 1.23rem;
        ;
    }

    .hero-center {
        top: 30%;
    }
}