body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navbar */
.nav-wrapper {
    background-color: #ffdfdb !important;
}

/* home page */
/* callout section */
.callout {
    width: 100%;
    height: 85vh;
    background-color: #ffdfdb;
    position: relative;
}

.hero-heading {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding-top: 3.5rem;
}

h3 {
    margin: 0;
    font-weight: 500;
}

.sign-up {
    margin-right: 1rem;
    padding: 0 2rem 0 2rem;
    background-color: #17268A;
    margin-top: 1rem;
}

.login {
    padding: 0 2rem 0 2rem;
    background-color: #17268A;
    margin-right: 0.7rem;
    margin-top: 1rem;
}

.hero-image {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

/* arrow animation */
.arrow {
    cursor: pointer;
    animation: myAnim 2s ease-in-out 0s infinite normal forwards;
    margin-top: 2rem;
    color: grey;

}

@keyframes myAnim {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}

/* Upcoming events section */
#upcoming-events > h4 {
    text-align: center;
    padding-top: 1rem;
}

/* Footer */
footer {
    background-color: #ffdfdb;
    height: 50px;
    margin-top:auto;
}

.social-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 13px;
}

.social-icons li {
    list-style: none;
}

.social-icons li i {
    color: #212529
}


.social-icons li a i {
    margin: 0 auto;
}

.social-icons li a i:hover {
    color: #F96D4D;
}

/* Sign-up Page */
.page-header {
    background-color: #ffdfdb;
    height: 30vh;
    text-align: center;
    padding: 20px 0;
}

.sign-up-header {
    padding-top: 2rem;
}

/* Profile */
.profile-header {
    height: 35vh;
    background-color: #ffdfdb;
    padding-top: 2rem;
}

.profile-header > .card {
    width: 40%;
    height: 70%;
    background-color: white;
    margin: 0 auto;
}

.card-image {
    width: 200px;
    float: left;
    margin-right: 2rem;
    object-fit: fill;
}

/* Add Event */
label {
    font-size: 1.5rem!important;
}

.input-field{
    margin-left:5px;
    margin-right: 5px;
    padding: 10px;
}