{% extends "base.html" %}
{% block content %}

<div class="container center">
    <h3 class="text-darken-4 center-align mt-5">Add Event</h3>
    <!-- Add event form -->
    <div class="row mt-6 card-panel">
        <form class="col s12" method="POST" action="{{ url_for('add_event') }}">
            <div class="row">
                <!-- event name -->
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="event_name" type="text" class="validate" name="event_name" placeholder=" " required>
                    <label for="event_name">Event Name</label>
                </div>
            </div>
            <div class="row">
                <!-- event description -->
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="event_description" name="event_description" minlength="5" maxlength="200"
                        class="materialize-textarea validate" placeholder=" " required></textarea>
                    <label for="event_description">Event Description</label>
                </div>
            </div>
            <div class="row">
                <!-- event date -->
                <div class="input-field col s12">
                    <i class="prefix fa-regular fa-calendar fa-lg"></i>
                    <input id="event_date" type="text" class="datepicker" name="event_date" placeholder=" " required>
                    <label for="event_date">Date</label>
                </div>
            </div>
            <div class="row">
                <!-- event time -->
                <div class="input-field col s6">
                    <i class="prefix fa-regular fa-clock fa-lg"></i>
                    <input id="event_time" type="text" class="validate timepicker" name="event_time" placeholder=" "
                        required>
                    <label for="event_time">Time</label>
                </div>
                <!--event location -->
                <div class="input-field col s6">
                    <i class="prefix fa-solid fa-location-dot fa-lg"></i>
                    <input id="event_location" type="text" class="validate" name="event_location" placeholder=" "
                        required>
                    <label for="event_location">Location</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12">
                    <button type="submit" class="btn rounded text-shadow mt-5">Add</button>
                    <a href="{{ url_for('profile', username=session['user'])}}"
                    class="btn-cancel rounded text-shadow mr-2">Cancel</a>
                </div>
            </div>
    </div>
    </form>
</div>

{% endblock %}