<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-beta/dist/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Socialeyes | Event locator</title>
</head>

<body>

    <header>
        <!-- Top nav -->
        <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper pr-4">
                <a href="{{ url_for('home') }}" class="brand-logo black-text">
                    <img src="{{ url_for('static', filename='images/socialeyes-logo.png') }}" alt="logo">
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down nav-right">
                    <li><a href="{{ url_for('home') }}" class="black-text">Home</a></li>
                    {% if session["user"] %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}" class="black-text">Profile</a></li>
                        <li><a href="{{ url_for('get_events') }}" class="black-text">Events</a></li>
                        <li><a href="{{ url_for('add_event') }}" class="black-text">Add Event</a></li>
                        <li><a href="#modal-logout" class="black-text modal-trigger">Log out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}" class="black-text">Log in</a></li>
                        <li><a href="{{ url_for('sign_up') }}" class="black-text">Sign up</a></li>
                    {% endif %}
                </ul>
                {% if session["user"] %}
                <!-- Modal: log out -->
                <div id="modal-logout" class="modal">
                    <div class="modal-content black-text">
                        <h5>Are you sure you want to log out?</h5>
                        <a href="#!" class="modal-close waves-effect btn red">No</a>
                        <a href="{{ url_for('logout') }}"
                            class="modal-close waves-effect btn green">Yes</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </nav>
        </div>
        <!-- Mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}" class="black-text">Home</a></li>
            {% if session["user"] %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('get_events') }}" class="black-text">Events</a></li>
                <li><a href="{{ url_for('add_event') }}" class="black-text">Add Event</a></li>
                <li><a href="{{ url_for('logout') }}" class="black-text">Log out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}" class="black-text">Log in</a></li>
                <li><a href="{{ url_for('sign_up') }}" class="black-text">Sign up</a></li>
            {% endif %}
        </ul>
        </header>

    <main>
        <div>
            <!-- flash messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                            <h6 class="center-align">{{ message }}</h6>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer with links -->
    <footer>
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="facebook link"><i
                        class="fa-brands fa-facebook"></i></a>
            </li>
            <li><a href="https://twitter.com/" target="_blank" rel="noopener" aria-label="twitter link"><i
                        class="fa-brands fa-twitter"></i></a>
            </li>
            <li><a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="instagram link"><i
                        class="fa-brands fa-instagram"></i></a>
            </li>
            <li><a href="https://www.googlemail.com/" target="_blank" aria-label="googlemail link"><i
                        class="fa-solid fa-envelope"></i></a></li>
        </ul>
    </footer>

    <!-- Materialize, Jquery & Js script -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-beta/dist/js/materialize.min.js">
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>