{% extends "base.html" %}

{% block content %}

<div class="profile-header">
  <div class="card">
    <div class="card-image">
      <img src="/static/images/icon.png" alt="profile icon">
    </div>
    <div class="card-description">
      <h4>{{ username }}</h4>
      <a href="{{ url_for('add_event')}}" class="btn filled icon-right rounded">
        + Add new event
      </a>
    </div>
  </div>
</div>

<div class="profile row">
    {% for event in events %}
    <div class="col s12 m6 m-3">
        <div class="card">
            <div class="card-content">
                <span class="card-title"> {{ event.event_name }}</span>
                <p>{{ event.event_description }}<br>
                    {{ event.event_date }}<br>
                    {{ event.event_time }}<br>
                    {{ event.event_location }}
                </p>
                <hr>
                <a href="{{ url_for('edit_event'), event=event }}" class="btn-small light-blue lighten-1">Edit</a>
                <a href="#" class="btn-small green accent-4">Done</a>
                <a href="{{ url_for('edit_event', event_id=event._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                <a href="#" class="btn-small green accent-4">Done</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}